<%- include('header.ejs') %>

  <h2>Bucles</h2>
  <% agents.forEach(agent => { %>
    <p><%= agent.name %> tiene <%= agent.age %> años.</p>
  <% }) %>

  <h2>Condicionales</h2>

  <p>El segundo actual es <%= segundoActual %></p>
  <% if (esPar) { %>
    <p>El segundo actual es par.</p>
  <% } else { %>
    <p>El segundo actual es impar.</p>
  <% } %>

  <%= codigo %>

<%- include('footer.ejs') %>
